<nav class="navbar navbar-default ">
  <div class="text-center navbarText">
    <h1 >BeerTagger</h1>
  </div>
</nav>

<div class="body">
  <div id="imageContainer" class="pt-4">
    <input id="imgUpload" type="file" onchange="preview_image()">
    <br>
    <img src="" height="600">
  </div>

  <div id="activityBox" class="activityWrapper">
    <div class="card" style="width: 18rem; margin-bottom: 30px; ">
      <div class="card-header text-center">
        Selected objects
      </div>
      <ul class="list-group list-group-flush text-center ">
        <li class="list-group-item">test <br> <a href="#" class="btn btn-primary inverted "><%= inline_svg "delete.svg" %></a> </li>
        <li class="list-group-item">test <br> <a href="#" class="btn btn-primary inverted"><%= inline_svg "delete.svg" %></a></li>
        <li class="list-group-item">test <br><a href="#" class="btn btn-primary inverted"><%= inline_svg "delete.svg" %></a></li>
      </ul>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-header text-center">
        Added Images
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">test </li>
        <li class="list-group-item">test</li>
        <li class="list-group-item">test</li>
      </ul>
    </div>
  </div>
</div>

<!-- Hidden menu -->
<div class="menu">
  <div class="header bold">
    Add tag
  </div>
  <input class="tag"></input>
  <div class="buttons inverted text-center">
    <a href="javascript:void(0)" class="mr-2 save"><%= inline_svg 'checkmark.svg' %></a>
    <a href="javascript:void(0)" class="ml-2 cancel"><%= inline_svg 'tachita.svg' %></a>
  </div>
</div>
<!-- Hidden menu -->